<%- include ('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit "<%= project.title %>"</div>
  <form class="ui form" action="/project/<%= project._id %>?_method=PUT" method="POST">
    <b>Project Title:</b>
    <input type="text" placeholder="Enter Project Title" name="title" value="<%= project.title %>"/>
    <b>Client Name:</b>
    <input type="text" placeholder="Enter Client's Name" name="client" value="<%= project.client %>"/>
    <b>Budgeted Cost:</b>
    <input type="number" placeholder="Initial Project Cost" name="init_cost" value="<%= project.init_cost %>"/>
    <b>Actual Cost:</b>
    <input type="number" placeholder="Final Project Cost" name="final_cost" value="<%= project.final_cost %>"/>
    <b>Start Date:</b>
    <input type="date" placeholder="Final Project Cost" name="start_date" value="<%= project.start_date %>"/>
    <b>Date of Completion:</b>
    <input type="date" placeholder="Final Project Cost" name="finish_date" value="<%= project.finish_date %>"/>
    <div class="button-spacing">
      <button type="submit" class="positive ui button fluid ui button">
        UPDATE
      </button>
    </div>
  </form>
</div>

<%- include ('partials/footer') %>
