<%- include ('partials/header') %>

<!-- <h1>Welcome to the post page</h1> -->
<div class="ui container">
  <a href="/addproject"><button class="fluid ui button blue button">Add Projects</button></a>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Project Title</th>
        <th>Client</th>
        <th>Initial Cost(N)</th>
        <th>Final Cost(N)</th>
        <th>Action</th>
      </tr>
    </thead>

    <% proj.forEach((project) => { %>
    <tbody>
      <tr>
        <td data-label="Title" id="project"><%= project.title %></td>
        <td data-label="Client" id="project"><%= project.client %></td>
        <td data-label="Client" id="project"><%= project.init_cost.toLocaleString() %></td>
        <td data-label="Client" id="project"><%= project.final_cost.toLocaleString() %></td>
        <td>
          <a href="/project/<%= project._id %>"> <button class="ui grey button">View</button></a>
          <button class="negative ui button" id="project">
            <i class="trash icon"></i>Delete
          </button>
          <a href="/project/<%= project._id %>/edit"><button class="ui blue button"><i class="edit icon"></i>Edit</button></a> 
        </td>
      </tr>
    </tbody>
    <% }) %>
  </table>
</div>

<%- include ('partials/footer') %>
