<%- include ('partials/header') %>

<div class="ui main text container segment">
 <h1><%= single.title %></h1><hr>
 <p><%= single.client %></p><hr>
 <p><%= single.init_cost.toLocaleString() %></p><hr>
 <p><%= single.final_cost.toLocaleString() %></p><hr>
 <% if ((single.init_cost - single.final_cost) < 0){ %>
        <p>Cost Overrun</p><hr>
 <% } else { %>
        <p>Profit</p><hr>
 <% } %>

 <% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>

 <b><%= single.start_date.toLocaleString('en-GB', options) %></b><hr>
 <b><%= single.finish_date.toLocaleString('en-GB', options) %></b><hr>
</div>

<%- include ('partials/footer') %>